body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

footer {
    justify-content: center;
    align-items: center;
    justify-items: center;

    i {
        width: 30px;
        height: 30px;
    }
}

#container-horizontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0px;
    height: auto;
}

.titulo {
    font-weight: 600;
    font-size: 125%;
}

#container-horizontal>div {
    margin-top: 20px;
    text-align: center;
    margin: 40px;
}

.container {
    background: var(--background-nav);
    height: 74vh;
    justify-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
}

#container-horizontal label {
    text-align: center;
    justify-self: center;
}

.card {
    background: rgba(204, 184, 184, 0.9);
    backdrop-filter: blur(40px) !important;
    box-shadow: var(--shadow);
    width: 90%;
    height: auto;
    min-height: 17%;
    margin: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

#card-dados {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(36, 30, 30, 0.5);
    backdrop-filter: blur(40px) !important;
    box-shadow: var(--shadow);
    height: auto;
    width: 50vw;
    color: var(--cor-texto) !important;
    display: flex;
    flex-direction: column;
    align-items: center;

}