textarea {
    height: 90%;
    font-size: 120%;
}

input {
    height: 140%;
    font-size: 100%;
}

label {
    font-size: 120%;
    font-weight: 500;
}

.tab button {
    /* background-color: rgba(32, 151, 24, 0.8); */
    /* border: solid 2px rgba(17, 66, 13, 0.5); */
    font-weight: 600;
    font-size: 100%;
    width: 90px;
    height: 30px;
}

.active {
    border: dashed green 1px;
}

#container_mapa {
    z-index: 1;
    margin-bottom: 100px;
}

.tabcontent {
    display: none;
}

.active {
    background-color: #ccc;
}

.tab {
    justify-self: center;
}

#h_buttons {
    display: flex;
    margin: 10px 0 20px 20px;
    width: 20%;
    height: 45px;
    justify-self: center;
    gap: 10px;
}

#h_buttons button {
    width: 50%;
    height: 100%;
}

#container_anuncio {
    justify-self: center;
    align-self: center;
    margin: 50px 10px 20px 10px;
    /* width: 80%; */
    justify-items: center;
    justify-content: center;
    text-align: center;

    textarea {
        width: 100%;
        margin: 10px 0;
        height: 2rem;
    }

    label {
        font-size: 1.34rem;
        font-weight: 500;
    }

    #ta_descricao_anuncio {
       height: 10rem;
    }
}

#container_cadastro {
    justify-self: center;
    align-self: center;
    margin: 50px 10px 20px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14%, 2fr));
    row-gap: 30px;
    column-gap: 20px;
    width: 90%;
}

.container {
    
    width: 90%;
    background: var(--background-nav);
    margin-bottom: 20px;
    min-height: 10rem;
    height: auto;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 2fr));
    row-gap: 20px;
    column-gap: 20px;
    justify-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    button {
        width: 100px;
        height: 40px;
        font-size: 100%;
        font-weight: 500;
        border-radius: 0%;
    }
    img {
        width: 15rem;
        height: 10rem;
        border: solid 3px rgb(195, 174, 14);
    }
}

#container_imagens {
    margin-top: 50px;
}



@media screen and (max-width: 820px) {
    #container_cadastro {
        grid-template-columns: repeat(auto-fit, minmax(20%, 2fr));
    }
}

@media screen and (max-width: 700px) {


    #h_buttons {
        width: 45%;
    }
}

@media screen and (max-width: 404px) {
    #container_cadastro {
        grid-template-columns: repeat(auto-fit, minmax(30%, 2fr));
    }

    #h_buttons {
        display: flex;
        margin: 10px 0 20px 0px;
        width: 80%;
        height: 45px;
        justify-self: center;
        gap: 10px;
    }
}