#campo_dados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    row-gap: 30px;
    column-gap: 7px;
    justify-self: center;
    width: 90%;
}

input {
    height: 140%;
    font-size: 100%;
}

#container_selects {
    display: inline-flex;
    margin: 50px 0px 25px 0px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    height: 35px;
    width: 100%;
}

#container_selects select {
    width: 25%;
    margin: 0px 0px 7px 10px;
    height: 100%;
}

#container_executar {
    margin: 0;
    justify-self: center;
}

#h_buttons {
    margin: 30px 0px 42px 95px;
}

#h_buttons button {
    font-size: 110%;
}

textarea {
    height: 90%;
    font-size: 120%;
}

label {
    font-size: 120%;
    font-weight: 500;
}

#bt_executar {
    font-size: 120%;
    background-color: var(--background);
    border: solid 2px;
}

#container_telefones input {
    width: 94%;
    height: 120%;
}

#container_telefones {
    width: auto;
    display: block;
    height: 30%;
}

#container_telefones button {
   margin-top: 8px;
}

@media screen and (max-width: 380px) {
    #campo_dados {
        grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    }
}

#inpt_data_nascimento, #ta_numero, #ta_cep {
    height: 70%;
}