html,
body {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    min-height: 100vh;
}

#campo-dados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    row-gap: 50px;
    column-gap: 52px;
    justify-self: center;
    width: 90%;
    position: relative;
    margin-bottom: 40px;
}

input {
    height: 2vw;
    font-size: 100%;
}

#container-selects {
    display: inline-flex;
    position: relative;
    margin: 50px 0px 25px 0px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    height: 35px;
    width: 100%;

    select {
        width: 25%;
        margin: 0px 0px 7px 10px;
        height: 100%;
    }
}

#container-executar {
    margin: 0;
    justify-self: center;
    margin: 20px 0px;
    #bt-executar {
        font-size: 1.1rem;
        background-color: var(--background);
        border: solid 2px;
    }
}

#h-buttons {
    margin: 30px 0px 42px 95px;

    button {
        font-size: 110%;
    }

}

textarea {
    height: 2vw;
    font-size: 140%;
}

label {
    font-size: 1.1rem;
    font-weight: 500;
}




#container-telefones {
    width: auto;
    display: block;
    height: 100%;

    button {
        margin-top: 8px;
    }

    input {
        width: 86%;
        
    }
}


@media screen and (max-width: 380px) {
    #campo-dados {
        grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    }
}

