body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

main {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: auto;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 25rem;

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 0rem;
        min-width: 0rem;
        height: 100%;

        input {
            width: 100%;
            height: 2.5rem;
        }

        label {
            margin-bottom: 5px;
        }
    }
}

main div {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 10rem;
    min-width: 20rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
}