#mapa {
    width: 90%;
    height: 400px;
    border-radius: 8px;
    margin: 60px auto;
    z-index: 0;
    /* margin-left: 30px; */
}

#dados-imovel {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-self: flex-start;
}

body>hr {
    color: var(--cor-texto-alternativa);
    margin-top: 30px;
    opacity: 0.3;
    margin-bottom: 0px;
}

#div-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    justify-self: center;
    width: 80rem;
    align-self: flex-start;
    margin: 0 auto;

    .fa-map-marker-alt {
        color: var(--cor-texto-alternativa);
        font-size: 1.2rem;
    }

    span {
        display: flex;
        gap: 10px;
        align-self: flex-start;
    }

    h3 {
        font-size: 2rem;
    }


    div {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }

    #botoes {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        gap: 10px;

        >button:hover {
            .fa-heart {
                color: red;
                cursor: pointer;
            }
        }

        .fa-heart {
            color: #000000;
            font-size: 1rem;
            margin: 2px;
        }

        .fa-share-alt {
            color: #000000;
            font-size: 1rem;
            margin: 2px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#div-pai {
    display: flex;
    flex-direction: column;
    height: auto;
    align-self: flex-start;
    margin-left: 30px;
    width: 50vw;
    margin-top: 35px;

    #p-descricao {
        width: 90%;
        height: auto;
        text-align: justify;
        margin: 0 auto;
    }

    .div-filtros {
        display: grid;
        grid-template-columns: repeat(6, auto);
        width: 90%;
        height: auto;
        margin: 50px auto;
        margin-top: 12px;
        row-gap: 20px;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        align-items: center;
        align-content: center;
        align-self: center;

        label {
            font-size: 1rem !important;
            font-weight: 500 !important;
            margin-right: 100px !important;
            width: 100% !important;
            text-align: left !important;
            margin-left: 110px !important;
            color: var(--cor-texto-alternativa);
        }

        input[type="checkbox"] {
            width: 15px;
            height: 20px;

            &:checked {
                background-color: green !important;
            }
        }

    }
}

#entrar-contato {
    position: sticky !important;
    height: auto;
    align-content: center;
    width: 20rem !important;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    top: 15%;


    p {
        font-size: 1.2rem;
        color: var(--cor-texto-alternativa) !important;
    }


    label {
        font-size: 1.2rem;
        color: color-mix(in srgb, var(--cor-texto-alternativa) 35%, #9a9a9a) !important;

    }

    #whatsapp {
        color: var(--cor-texto) !important;
        margin-left: 0 !important;
        font-size: 0.8rem !important;
        i {
            color: var(--cor-texto) !important;
        }
    }


    div {
        display: flex;
        max-width: 100%;

        &:first-child {
            margin-top: 30px;
        }

        &:nth-child(n + 2) {
            justify-content: space-between;
        }
    }

    >p {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    hr {
        margin-bottom: 20px;
    }

    button {
        border: solid black 1px;
        min-width: 8rem;
        min-height: 3rem;
        margin: 5px;
        border-radius: 0%;
    }

    i {
        color: var(--cor-texto-alternativa) !important;
        margin: auto;
        margin-right: 2px;
    }

    span {
        display: flex;
        gap: 5px;
    }

}


h3 {
    text-align: center;
    font-size: 150%;
    margin: 40px auto;
    color: var(--cor-texto-alternativa) !important;
}

p {
    color: var(--cor-texto-alternativa) !important;
}

img {
    width: 80%;
    height: 80%;
}


.swiper-destaque {
    width: 90%;
    height: 40rem;


    .swiper-pagination-bullet {
        background: #000;
    }

    .swiper-button-prev {
        color: #000;
    }

    .swiper-button-next {
        color: #000;
    }

    .swiper-slide {
        cursor: pointer;
        background: rgb(135, 126, 126, 0.2);
        width: 90%;
        border-radius: 2px;
        box-shadow: 0.1px 0.1px 3px black;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        position: relative;

        .sobrepor {
            display: flex;
            position: absolute;
            width: auto;
            height: auto;
            background-color: transparent;
            justify-self: center;
            align-self: center;
            margin: 0 auto;
            justify-content: center;
            justify-items: center;
            opacity: 0.9;

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }

        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: white;
        width: 50px;
        height: 50px !important;
        border-radius: 50%;
        background: rgba(65, 65, 65, 0.2);
        backdrop-filter: blur(3px);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        /* font-size: 1rem; */
        align-content: center !important;
    }
}

.swiper-galeria {
    width: 90%;
    height: 10rem;
    margin-top: 50px;

    .swiper-pagination-bullet {
        background: #000;
    }

    .swiper-button-prev {
        color: #000;
    }

    .swiper-button-next {
        color: #000;
    }

    .swiper-slide {
        cursor: pointer;
        background: rgb(135, 126, 126, 0.2);
        border-radius: 2px;
        box-shadow: 0.1px 0.1px 3px black;
        display: flex;
        align-self: flex-start;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: white;
        width: 42px;
        height: 42px !important;
        border-radius: 50%;
        background: rgba(65, 65, 65, 0.2);
        backdrop-filter: blur(3px);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1.8rem;
        align-content: center !important;
    }

}

.modal-imagem {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 5% !important;
    width: 90% !important;
    height: 80% !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    display: flex !important;
    align-self: center !important;
    align-items: center !important;
    z-index: 1000 !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-content: center !important;
    justify-self: center !important;
    justify-items: center !important;
    margin-top: auto !important;
    margin-bottom: 0 !important;

    img {
        width: auto;
        height: auto;
        transform: translate(0%, 5%);
        max-width: 90%;
        max-height: 80%;
        justify-self: center;
    }
}

@media screen and (max-width: 857px) {
    #div-pai {
        width: 70% !important;
    }

    #div-titulo {
        width: 90% !important;
    }

    .swiper-destaque {
        width: 90%;
    }

    #entrar-contato {
        margin-right: 20px;
    }
}

@media screen and (max-width: 669px) {
    .swiper-destaque {
        height: 20rem;
    }

    #div-titulo {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;

        div {
            width: auto !important;
            margin: 0 auto !important;

            span {
                margin: 0 auto !important;
                width: auto !important;
                text-align: center !important;
            }

            h3 {
                /* margin: 0 auto !important; */
                width: auto !important;
                text-align: center !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }

    #dados-imovel {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;

        #div-pai {
            width: 100% !important;
            margin-left: 0px !important;
        }

        #entrar-contato {
            width: auto !important;
            margin-left: 0px !important;
            margin: 0 auto !important;
            margin-bottom: 40px !important;
        }
    }
}