
#dados-imovel {
    display: flex;
    height: 170vh;
    overflow-y: hidden;
}

#div-titulo {
    display: block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

#div-pai {
    display: block;
    height: auto;
    height: 100%;
    overflow-y: visible;
    margin-left: 30px;
    width: 88vw;

    #p-descricao {
        width: 90%;
        height: auto;
        text-align: justify;
        margin-top: 20px;
        margin-left: 80px !important;
    }

    .div-filtros {
        display: grid;
        grid-template-columns: repeat(8, auto);
        /* gap: 2px; */
        width: auto;
        height: auto;
        margin: 50px auto;
        row-gap: 20px;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        align-items: center;
        align-content: center;
        align-self: center;

        label {
            font-size: 1rem !important;
            font-weight: 500 !important;
            margin-right: 100px !important;
            width: 100% !important;
            text-align: left !important;
            margin-left: 110px !important;
        }
    
        input[type="checkbox"] {
            width: 15px;
            height: 20px;
            &:hover {
                cursor: pointer;
            }
        }

    }
}

#entrar-contato {
    background: rgb(241, 233, 233);
    text-align: center;
    align-content: center;
    width: 30rem !important;

    button {
        border: solid black 1px;
        margin: 10px;
        width: 10rem;
        height: 2rem;
        margin: 10px;
    }

    #iptu,
    #condominio {
        display: inline-block;
        margin: 10px;
        font-size: 1.2rem;
    }
}


h3 {
    text-align: center;
    font-size: 150%;
    margin: 40px auto;
    color: var(--cor-texto-alternativa) !important;
}

p {
    color: var(--cor-texto-alternativa) !important;
}

img {
    width: 80%;
    height: 80%;
}


.swiper-destaque {
    width: 90%;
    height: 40rem;
    margin-top: 50px;

    .swiper-pagination-bullet {
        background: #000;
    }

    .swiper-button-prev {
        color: #000;
    }

    .swiper-button-next {
        color: #000;
    }

    .swiper-slide {
        cursor: pointer;
        background: rgb(135, 126, 126, 0.2);
        width: 90%;
        border-radius: 2px;
        box-shadow: 0.1px 0.1px 3px black;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.swiper-galeria {
    width: 90%;
    height: 14rem;
    margin-top: 50px;

    .swiper-pagination-bullet {
        background: #000;
    }

    .swiper-button-prev {
        color: #000;
    }

    .swiper-button-next {
        color: #000;
    }

    .swiper-slide {
        cursor: pointer;
        background: rgb(135, 126, 126, 0.2);
        width: 90%;
        border-radius: 2px;
        box-shadow: 0.1px 0.1px 3px black;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}