body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.grid-container {
    align-self: center;
    /* min-height: 30rem; */
    height: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100rem;
}

#lala {
    display: flex;
}

#header-cliente {
    background: var(--background-nav);
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--cor-texto);

    img {
        margin-left: 20px;
        border-radius: 50%;
        width: 5rem;
        height: 4rem;
        border: solid 1px var(--cor-texto);
    }

    #dados-basicos {
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: 40px;

        .nome {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .cargo {
            font-size: 1rem;
        }
    }

    #email-telefone {
        display: flex;
        margin: 20px;
        margin-left: auto;
        flex-direction: column;
        gap: 10px;

        #div-email {
            display: flex;

            .email {
                margin-left: 5px;
                font-weight: bold;
            }
        }

        #div-telefone {
            display: flex;

            .telefone {
                margin-left: 5px;
                font-weight: bold;
            }
        }
    }
}

#dados {
    /* justify-self: first baseline; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    row-gap: 20px;
    column-gap: 20px;
    margin-left: 50px;
    width: 100%;
}

#menu {
    margin-top: 20px;
    background: var(--background-nav);
    justify-items: center;
    align-content: center;
    width: 25rem;

    ul {
        list-style: none;

        li {
            margin: 10px;
            border: solid 2px var(--cor-texto-alternativa);
            border-radius: 5px;
            background-color: var(--cor-texto);
            width: 11rem;
            height: 2rem;
            text-align: center;
            align-content: center;
        }

        a {
            text-decoration: none;
            color: var(--cor-texto-alternativa);
        }
    }
}

#sla {
    grid-row: 2;

}

.separador {
    display: flex;
    flex-direction: column;

    label:nth-child(even) {
        font-weight: bold;
    }
}