#vazio {
    width: 98%;
    justify-self: center;
    color: var(--cor-texto);
    text-align: center;
    background: rgba(36, 30, 30, 0.92);
    height: 4rem;
    align-items: center;
    align-content: center;
}


#container-filtragem {
    display: grid;
    align-items: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(20%, 2fr));
    height: auto;
    width: 99%;

    input {
        width: 14rem;
        height: 3.5vh;
        border-radius: 1% / 30%;
    }

    #input-pesquisa {
        width: 100%;
        grid-column: 1 / -1;
        height: 5vh !important;
    }

    select {
        width: 14rem;
        height: 3.5vh;
    }

}

#container-pai {
    justify-content: center;
    justify-items: center;
    height: auto;
    width: 100%;
    padding: 20px;
}

#contador-imoveis {
    font-size: 1.2rem;
    margin-left: auto;
    color: var(--cor-texto-alternativa);
}

#h-filtro {
    display: flex;
    gap: 10px;
    margin: 0px 20px 20px 20px;
    width: 98%;
    align-items: center;

    #seta {
        width: auto;
        height: 1.6rem;
        text-align: center;
        align-content: center;

        &:hover {
            cursor: pointer;
        }
    }

    button {
        width: 9rem;
        border-radius: 5% / 30%;
        height: 2.1rem !important;
    }

    #selecionar-todos {
        width: 9rem;
        border-radius: 5% / 30%;
        height: 2.1rem !important;
    }

    #filtro-seta {
        background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
        border-radius: 5% / 30%;
        border: solid 1px black;

        select {
            background: none;
            border: none;
            border: solid 1px black;
            height: 2rem !important;
            max-width: 100% !important;
        }

        i {
            background: none;
            margin-left: 2px;
            margin-right: 4px;
        }
    }

    select {
        width: 10rem;
        height: 1.6rem;
    }

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    letter-spacing: 1px;

    caption {
        caption-side: bottom;
        padding: 10px;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: var(--cor-texto-alternativa);
    }

    th,
    td {
        border: 1px solid rgb(160 160 160);
        padding: 8px 10px;
    }

    tbody>tr:nth-of-type(even) {
        background-color: var(--background-custom);

        a {
            color: var(--cor-texto) !important;
        }
    }

    tfoot th {
        text-align: right;
    }

    tfoot td {
        font-weight: bold;
    }

    thead {
        background-color: rgba(186, 174, 174, 0.5);
    }

    tbody {
        background-color: rgba(186, 174, 174, 0.2);
    }
}

#container-resultado {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;


    .resultado {
        display: flex;
        position: relative;
        gap: 20px;
        /* background-color: #414141; */
        border: #414141 2px groove;
        padding: 10px;
        margin: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        color: var(--cor-texto-alternativa);

        input {
            width: 1.5rem;
            height: 1.5rem;
            align-self: center;

            &:checked {
                accent-color: var(--cor-texto-alternativa) !important;
            }
        }

        &:hover {
            background-color: color-mix(in srgb, var(--background-custom) 75%, var(--background-nav));
            cursor: pointer;
        }

        li {
            margin-left: auto;
            justify-self: end;
            top: 10px;

        }

        .fa-bars {
            font-size: 1.8em;
            cursor: pointer;
        }
    }

    img {
        height: 12rem;
        width: 16rem;
        align-self: center;
    }

    .dados {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #dados-div {
        display: none;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-opcoes {
    position: absolute;
    background: var(--background-custom);
    backdrop-filter: blur(40px) !important;
    min-width: 20rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: var(--shadow);
    z-index: 1000;

    button {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: white;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: var(--hover);
        }
    }
}

#sidebar-pessoas {
    display: none;
    background-color: #414141;
}

.sidebar-anuncios {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20rem;
    background-color: #414141;

    &>:nth-child(n) {
        margin-top: 20px;
    }

    label {
        margin-left: 4px;
        color: var(--cor-texto);
    }

    input,
    select,
    textarea {
        align-self: center;
        width: 90%;
        height: 1.8rem;
    }

    #container-info-imovel,
    #container-info-condominio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        row-gap: 20px;
        column-gap: 0px;

        input {
            height: 1.1rem;
        }
    }


    #preco {
        display: flex;
        align-items: center;
        justify-self: center;
        align-self: center;
        justify-content: center;
        width: 90%;
        margin-top: 10px;

        label {
            color: var(--cor-texto);
        }

        input {
            width: 100%;
            height: 1.8rem;
        }
    }
}


main {
    display: flex;
}


@media screen and (max-width: 669px) {

    #container-filtragem,
    #sidebar-pessoas,
    .sidebar-anuncios {
        display: none !important;
    }

    #container-resultado {
        width: 90% !important;
        /* overflow: hidden hidden; */

        .resultado {
            width: 100% !important;
            height: 6rem;
            white-space: nowrap;
            overflow: hidden hidden;
            text-overflow: clip;
        }

        img {
            height: 5rem;
            width: 10rem;
            align-self: center;
        }
    }

}