#container-filtragem {
    display: grid;
    align-items: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(20%, 2fr));
    height: auto;
    width: 99%;

    input {
        width: 14rem;
        height: 3.5vh;
        border-radius: 1% / 30%;
    }

    #input-pesquisa {
        width: 100%;
        grid-column: 1 / -1;
        height: 5vh !important;
    }

    select {
        width: 14rem;
        height: 3.5vh;
    }

}

#container-pai {
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: auto;
    background: rgba(36, 30, 30, 0.5);
    backdrop-filter: blur(40px) !important;
    width: 100%;
    padding: 20px;
}

#contador-imoveis {
    font-size: 1.2rem;
    margin-left: auto;
}

#h-filtro {
    display: flex;
    gap: 10px;
    margin: 70px 20px 20px 20px;
    width: 98%;

    select {
        width: 10rem;
    }

    #seta {
        width: 4vw;
    }

    #selecionar-todos {
        width: auto;
    }
}


#container-resultado {
    display: block;
    margin-top: 20px;

    .resultado {
        display: flex;
        gap: 20px;
        background-color: rgba(186, 174, 174, 0.5);
        padding: 10px;
        margin: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: rgba(186, 174, 174, 0.8);
            cursor: pointer;
        }

        li {
            margin-left: auto;
            justify-self: end;
            top: 10px;

        }

        .fa-bars {
            font-size: 1.8em;
            cursor: pointer;
        }
    }

    img {
        height: 10%;
        width: 30%;
    }

    .dados {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #dados-div {
        display: none;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-opcoes {
    position: fixed;
    background: rgba(36, 30, 30, 0.5);
    backdrop-filter: blur(40px) !important;
    min-width: 20rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: var(--shadow);
    z-index: 1000;

    button {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: white;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: var(--hover);
        }
    }
}