
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../assets/campo.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-items: center;
    width: 40vw;
    height: auto;
    margin-top: auto;
    margin-bottom: 0;
    box-shadow: 0px 1px 6px 0px black;
    background: rgba(36, 30, 30, 0.5);
    backdrop-filter: blur(40px) !important; 
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    h3 {
        margin: 30px;
    }

    select {
        width: 90%;
        height: 30px;
    }

    input {
        min-width: 60%;
        width: auto;
        height: 3.5vh;
        color: white;
        background: var(--background);
        font-size: 100%;
        border-radius: 2% / 30%;
    }

    button[type="submit"] {
        width: 40%;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 2rem;
        background: var(--background-nav);
        color: white;
        box-shadow: 0px 1px 6px 0px black;
        border-radius: 2% / 30%;

        &:hover {
            cursor: pointer;
            background-color: var(--background);
        }
    }

}


#btn-ad {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}



#login-header {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    color: white;
    background: rgb(19, 19, 19);
    width: 100%;
    h1 {
        font-size: 2.5rem;
        margin: 0;
        &:hover {
            cursor: pointer;
            color: var(--background-nav);
        }
    }
    #barra {
        height: 100%;
        justify-self: center;
        width: auto;
        margin: 0;
        padding: 0;
        &:hover {
            cursor:text;
            color: white;
        }
    }
}

.senha-container {
    display: flex;
    min-width: 60%;
    width: auto;
    background: var(--background);
    border: 2px dashed red;
    border-radius: 2% / 30%;

    input {
        width: 100%;
        margin-right: 10px;
        border: none;
        background: transparent;

        &:invalid {
            border: none;
        }

        &:focus {
            outline: none;
        }
    }

    i {
        border: none !important;
        background: transparent !important;
        color: rgb(255, 255, 255);
        width: 2vw;
        text-align: center;
        align-items: center;
        align-content: center;

    }
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  background-image: none;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
  width: 40%;
  margin-bottom: 30px;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 10px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #001d35;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15) !important;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15) !important;
  background-color: #e8e8e8;
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #001d35;
  opacity: 8%;
}


#esqueceu-senha {
    color: white;
    text-decoration: none;
    margin-top: 20px;

    &:hover {
        color: var(--hover);
        text-decoration: underline;
    }
}