body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../assets/imoveis/imovel_2.webp");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */
    /* align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center; */
    /* height: auto !important; */
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-items: center;
    width: 40vw;
    height: auto;
    margin-top: auto;
    margin-bottom: 0;
    box-shadow: 0px 1px 6px 0px black;
    background: rgba(46, 46, 46, 0.7);
    backdrop-filter: blur(40px) !important;
    padding: 40px 0px;
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;


    h3 {
        margin: 30px;
    }

    select {
        width: 90%;
        height: 30px;
    }

    input {
        min-width: 60%;
        width: auto;
        height: 3.5vh;
        color: white;
        padding: 6px;
        /* background: var(--background); */
        font-size: 100%;
        border-radius: 2% / 30%;
        color: black;
    }

    button[type="submit"] {
        width: 40%;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 2.4rem;
        background: var(--background-nav);
        color: white;
        box-shadow: 0px 1px 6px 0px black;
        border-radius: 1% / 20%;

        &:hover {
            cursor: pointer;
            background-color: var(--background);
        }
    }

}

#btn-ad {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

#login-header {
    display: flex;
    /* justify-content: space-around; */
    color: white;
    width: 100%;
    /* border-bottom: 10px solid white; */
    padding: 10px;
    background-color: color-mix(in srgb, var(--background-custom) 20%, black);
    margin-top: -40px;

    #h3-login {
        border-right: 10px solid rgb(88, 88, 88);
    }

    h1 {
        font-size: 1.6 rem;
        margin: 0;
        width: auto;
        padding: 0;
        width: 50%;
        text-align: center;

        &:hover {
            cursor: pointer;
            color: var(--background-nav);
        }
    }

    #barra {
        height: 100%;
        width: auto;
        margin-left: 60px;
        padding: 0 !important;

        &:hover {
            cursor: text;
            color: white;
        }
    }
}

.senha-container {
    display: flex;
    min-width: 60%;
    width: auto;
    background: white;
    outline: solid 2px red;
    border-radius: 2% / 30%;

    &:has(input:required) {
        outline: solid 2px rgb(195, 174, 14);

        &:has(input:invalid) {
            outline: 2px solid red;
        }
    }


    &:has(input:not(:placeholder-shown)) {
        &:has(input:required) {
            &:has(input:valid) {
                outline: none;
                border: 0.1px inset;
            }
        }
    }

    input {
        width: 100%;
        margin-right: 10px;
        border: none;
        color: black;
        /* background: transparent; */

        &:required {
            outline: none;

            &:invalid {
                outline: none;
            }
        }

        &:focus {
            outline: none;
        }
    }

    i {
        border: none !important;
        background: transparent !important;
        color: black;
        width: 2vw;
        text-align: center;
        align-items: center;
        align-content: center;

    }
}

#esqueceu-senha {
    color: white;
    text-decoration: none;
    margin-top: 6px;
    margin-right: auto;
    margin-left: 20%;
    font-size: 0.8rem;

    &:hover {
        color: var(--hover);
        text-decoration: underline;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#form-nova-senha {

    h2 {
        margin: 60px;
    }

    button {
        margin: 50px;
    }

    #voltar-login {
        color: white;
        text-decoration: none;

        &:hover {
            color: var(--hover);
            text-decoration: underline;
        }
    }

}

@media screen and (max-width: 857px) {
    #login-container {
        width: 90vw;
    }

    button[type="submit"] {
        width: 45% !important;
    }

}

@media screen and (max-width: 669px) {

    input {
        height: 2rem !important;
        max-height: none;
        width: 80% !important;
    }

    .senha-container {
        width: 80% !important;

        input {
            width: 85% !important;
        }
    }

    #esqueceu-senha {
        margin-left: 36px !important;
    }

    button[type="submit"] {
        width: 68% !important;
    }

    #login-container {
        width: 90vw;
    }

    #login-header {
        max-width: none;
        height: 3.5rem !important;
        align-items: center !important;
        align-content: center !important;

        h1 {
            font-size: 1.2rem;
            height: 100% !important;
            text-align: center !important;
            align-items: center !important;
            align-content: center !important;
        }
    }

    footer {
        font-size: 0.6rem !important;
         align-items: center !important;
            align-self: center !important;
            align-content: center !important;
        i {
            width: 2px;
            height: 2px;
            align-items: center !important;
            align-self: center !important;
            align-content: center !important;
        }
    }
}